.price_left {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 20px;
        padding: 0 20px 20px 20px;
        z-index: 1;
        position: relative;
        background: #1a1a1a;
        border-radius: 12px;
        backdrop-filter: blur(7.5px);

        &:first-child {

            background: #1c1b15;
        }
    }
}

.label_icon {
    position: relative;
    top: -10px;
    left: -40px;
    flex-shrink: 0;
    height: 85px;

    img {
        height: 100%;
        object-fit: contain;
    }
}


.price_text {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    gap: 7px;

    .label {
        color: rgba(255, 255, 255, 0.55);
        font-weight: 400;
    }

    .value {
        color: #ffffff;
        font-weight: 600;
        min-width: 100px;
    }

    .separator {
        color: rgba(255, 255, 255, 0.35);
    }
}

.bidAsk_wrap {
    display: flex;
    gap: 40px;
    align-items: center;
    font-family: var(--font-primary);
}

.label {
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 500;
}



.askValue,
.bidValue {
    // font-size: 2.188rem;
    font-size: 2.5rem;
    font-weight: 700;
    min-width: 200px;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    border-radius: 15px;
    color: white;
}

.bid,
.ask {
    display: flex;
    align-items: center;
    gap: 10px;

    &.priceUp {

        .askValue,
        .bidValue {
            border-color: #008000;
            color: #008000;
        }

    }

    &.priceDown {

        .askValue,
        .bidValue {
            border-color: #FF0000;
            color: #FF0000;
        }

    }
}

.bar_icon {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;

    width: 100%;
    max-width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}